h1 {
	text-align: center;
	color: #404040;
	font-weight: 600;
	margin-left: 12px;
}

.PopularContainer {
	display: flex;
}

.PopularImg {
	border-radius: 24px;
	margin: 12px;
	width: 264px;
}

.card {
	margin: 12px;
}
